body {
  font-family: sans-serif, arial;
  color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: #004d99;
}
a:hover {
  text-decoration: none;
  color: #cadcd4;
}

/**********************************/

.home .center-row {
  float: none;
  margin: auto;
  padding-bottom: 1em;
}

.home .vertical-space {
  float: none;
  margin: auto;
  padding-bottom: 3em;
}

.home h1 a {
  color: #f1f1f1;
}
.home h1 a:hover {
  text-decoration: none;
}

.home .processing-img {
  width: 4em;
  height: auto;
}

.home .download-link-box {
  resize: vertical;
}

.home .info {
  bottom: 0;
  width: 100%;
}

.donate-button {
  color: var(--lightgreen);
}
.donate-button:hover {
  text-decoration: none;
  color: #ff4444;
}

.toast-down {
  background-image: url("../res/images/warning.png") !important;
  background-color: var(--lightgreen);
}

/**********************************/

:root {
  --lightblk: #252930;
  --blk: #111417;
  --lightgreen: #bdd2c9;
  --darkgreen: #6c7f76;
}

.footer .header {
  font-size: 2rem;
  color: white;
  font-family: Rubik Mono One;
  flex-basis: 100%;
}

body {
  margin: 0;
  background: var(--blk);
}

.footer {
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 2em;
  gap: 1rem;
  display: flex;
  bottom: 0;
  position: relative;
  width: 100%;
  background-color: var(--blk);
}

.footer div.right {
  margin: 0;
  display: flex;
  width: 50%;
  flex-direction: row;
  gap: 1remx;
  flex: 1;
}

.footer div.left {
  flex-basis: 100%;
  margin: 0;
  display: flex;
  gap: 1rem;
  width: 50%;
  flex-direction: column;
  flex: 1;
}

.footer textarea {
  font-family: Azeret Mono;
  box-sizing: border-box;
  color: whitesmoke;
  outline: none;
  resize: none;
  border: none;
  padding: 1em;
  border-radius: 10px;
  background-color: var(--lightgreen);
}

.footer .msg {
  flex-basis: 100%;
}

.footer div.bottom {
  min-width: 0;
  overflow-x: scroll;
  padding-top: 1em;
  gap: 2em;
  color: grey;
  width: 100%;
  flex-basis: 100%;
  display: flex;
}

.footer .ftrtxt {
  flex-basis: 100%;
  font-size: 15px;
  text-align: center;
  font-family: Rubik Mono One;
  color: #ffffff;
}

.footer .ftrhead {
  font-size: 1rem;
}

.footer .ftrhead::after,
.footer .ftrtxt::after {
  content: "\a";
  white-space: pre;
}

.footer .ftrlinks {
  flex-basis: 1;
}

.footer hr {
  margin-top: 1em;
  margin-bottom: 1em;
  flex-basis: 100%;
  color: white;
}

.footer svg {
  fill: var(--lightgreen);
  width: 2rem;
  height: 100%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.footer svg:hover {
  transform: scale(1.1);
  fill: grey;
}

.footer ::placeholder {
  font-family: Azeret Mono;
}

.footer #start {
  margin-left: auto;
}

.footer #end {
  margin-right: auto;
}

::-webkit-scrollbar {
  height: 5px;
  width: 2px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  height: 5px;
  width: 2px;
}

.footer #submitbtn {
  display: none;
  border-radius: 1rem;
  border: none;
  font-family: Rubik Mono One;
  font-size: 15px;
  transition: 0.5s;
}

.footer #submitbtn:hover {
  background-color: var(--lightblk);
  color: white;
}

@keyframes slide {
  0% {
    opacity: 0;
    height: 0%;
    border-radius: 10px;
  }
  100% {
    opacity: 1;
    height: 100%;
    border-radius: 10px;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: var(--lightgreen);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.btn-default {
  color:var(--blk);
  background-color: var(--lightgreen);

}


.btn-default:hover {
  color:var(--lightgreen);
  background-color: #6b7d74;

}